body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code,
pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  white-space: normal;
  word-wrap: break-word;
  background-color: lightgrey;
  padding: 1rem;
  border-radius: 0.25rem;
  display: block;
}

.container {
  margin: 0 auto;
  max-width: 76rem;
  padding: 0 2rem;
}

nav {
  background-color: #333333;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

li {
  padding: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}